.u-section-5-1 {
  background-image: none;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-5-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 50px 801px 0 0;
}

.u-section-5-1 .u-image-1 {
  width: 713px;
  min-height: 423px;
  background-image: url("images/StepsCPR.jpg");
  background-position: 0% 50%;
  margin: 20px auto 0 170px;
}

.u-section-5-1 .u-container-layout-1 {
  padding: 30px 60px 2px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-text-1 {
    margin-right: 601px;
  }

  .u-section-5-1 .u-image-1 {
    width: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 381px;
  }

  .u-section-5-1 .u-image-1 {
    margin-bottom: 60px;
    margin-left: 7px;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-text-1 {
    margin-right: 201px;
  }

  .u-section-5-1 .u-image-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-5-1 .u-text-1 {
    margin-right: 1px;
  }

  .u-section-5-1 .u-image-1 {
    width: 340px;
    margin-bottom: 0;
  }
}.u-section-1 .u-sheet-1 {
  min-height: 776px;
}

.u-section-1 .u-image-1 {
  width: 650px;
  height: 388px;
  margin: 298px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1128px;
  margin: -674px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 388px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 70px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 0 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 38px auto 0 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/HFPS.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 473px auto -14px 216px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 193px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 990px;
    margin-top: -581px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -12px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 807px;
    margin-top: -308px;
    margin-right: auto;
    margin-left: -37px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 388px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 354px;
    margin-bottom: -15px;
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 322px;
    margin-top: 196px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 590px;
    margin-top: -518px;
    margin-right: 250px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 50px 10px 30px;
  }

  .u-section-1 .u-image-2 {
    min-height: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 203px;
    margin-top: 349px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 390px;
    margin-top: -569px;
    margin-right: auto;
    margin-left: -12px;
  }

  .u-section-1 .u-image-2 {
    min-height: 388px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 297px;
    margin-bottom: 0;
    margin-left: 100px;
  }
}.u-section-2 {
  min-height: 953px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -29px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/Signs2.jpg");
  background-position: 50% 50%;
  min-height: 766px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 30px 40px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 766px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 23px 126px 0 103px;
}

.u-section-2 .u-text-2 {
  margin: 42px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 53px -4px 0 -14px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 21px 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 819px;
  }

  .u-section-2 .u-image-1 {
    min-height: 632px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -7px;
    margin-right: 76px;
    margin-left: 71px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 71px;
    margin-right: 76px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 287px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 756px);
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 766px;
    background-size: 105%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 22px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
    margin-right: 55px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 55px;
    margin-right: 29px;
    margin-left: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    min-height: 345px;
    width: 490px;
  }

  .u-section-2 .u-image-1 {
    min-height: 966px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 113px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -159px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    min-height: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 609px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 712px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 70px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 70px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: -10px;
  }
}.u-section-3 {
  min-height: 741px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px 0 1px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 739px;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 60px 31px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-family: Acme;
  margin: 29px -22px 0 -37px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 69px 178px 0 11px;
}

.u-section-3 .u-icon-1 {
  height: 42px;
  width: 42px;
  margin: -124px auto 0 -42px;
}

.u-section-3 .u-image-1 {
  min-height: 739px;
  background-image: url("images/min.jpg");
  background-position: 50% 100%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 597px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 609px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 92px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 20px;
    margin-right: 92px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 631px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 490px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    margin-right: 46px;
  }

  .u-section-3 .u-image-1 {
    min-height: 524px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1193px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 46px;
  }

  .u-section-3 .u-image-1 {
    min-height: 793px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1469px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -351px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 792px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 184px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: -72px;
    margin-left: 72px;
  }

  .u-section-3 .u-icon-1 {
    height: 30px;
    width: 30px;
    margin-top: -85px;
    margin-right: auto;
    margin-left: 21px;
  }

  .u-section-3 .u-image-1 {
    min-height: 643px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 892px;
}

.u-section-4 .u-image-1 {
  height: 578px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 35px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 274px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-image-2 {
  min-height: 274px;
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 36px -27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 260px;
  }

  .u-section-4 .u-image-2 {
    min-height: 209px;
  }

  .u-section-4 .u-text-2 {
    margin-right: -20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 156px;
  }

  .u-section-4 .u-text-2 {
    margin-right: -14px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 931px;
  }

  .u-section-4 .u-image-1 {
    height: 441px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 195px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: -19px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    min-height: 123px;
  }

  .u-section-4 .u-text-2 {
    margin-right: -12px;
  }
}.u-block-4d09-1 {
  background-image: none;
}

.u-block-4d09-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-4d09-3 {
  position: absolute;
  left: auto;
  width: 15px;
  height: 15px;
  top: 352px;
  right: calc(((100% - 1140px) / 2)  + 364px);
}

.u-block-4d09-4 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: auto;
  top: 352px;
  right: calc(((100% - 1140px) / 2)  + 364px);
}

@media (max-width: 1199px) {
  .u-block-4d09-3 {
    right: calc(((100% - 940px) / 2)  + 264px);
  }

  .u-block-4d09-4 {
    right: calc(((100% - 940px) / 2)  + 264px);
  }
}

@media (max-width: 991px) {
  .u-block-4d09-3 {
    right: calc(((100% - 720px) / 2)  + 154px);
  }

  .u-block-4d09-4 {
    right: calc(((100% - 720px) / 2)  + 154px);
  }
}

@media (max-width: 767px) {
  .u-block-4d09-3 {
    right: calc(((100% - 540px) / 2)  + 115px);
  }

  .u-block-4d09-4 {
    right: calc(((100% - 540px) / 2)  + 115px);
  }
}

@media (max-width: 575px) {
  .u-block-4d09-3 {
    right: calc(((100% - 340px) / 2)  + 72px);
  }

  .u-block-4d09-4 {
    right: calc(((100% - 340px) / 2)  + 72px);
  }
}.u-section-6 .u-sheet-1 {
  min-height: 567px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 567px;
  background-image: url("images/4e8eb68758b0c6ba96d7c80243e1aaf3b83fccfc7f1d95fd497cc8e98743e7d747e122fbb8d5bf29d84727dc4d9981a49a9860a4f30de4936f07d4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 567px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: -17px auto 0 30px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 8px 171px 0 30px;
}

.u-section-6 .u-text-3 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  font-family: "Playfair Display", serif;
  margin: 8px 49px 0 18px;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  margin: 18px 63px 0 18px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 468px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 24px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 77px;
    margin-left: 24px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-6 .u-image-1 {
    min-height: 358px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-6 .u-image-1 {
    min-height: 537px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 31px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-6 .u-image-1 {
    min-height: 338px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 19px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 19px;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
  }
}